.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 1s infinite linear;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 1s infinite ease-in-out;
}
.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}
/*скролл страницы*/
html{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: 60px;
}
/*анимация текста*/
.element-animation{
    opacity: 0:
}
.element-animation.show-animation{
    opacity: 1;
    transition: opacity 2s;
}
/*анимация фото*/
.img{
    opacity: 0:
}
.img.show-animationimg{
     opacity: 1;
    transition: opacity 2s;
}
nav {
    width: 100%; 
    height: 60px;
    background: #344051;
    position: fixed;
}
body{
    font-family: Arial, sans-serif; 
    background-color: antiquewhite;
}
.logo{
    color: #fff; 
    font-size: 24px; 
    line-height: 60px; 
    padding-left: 250px;
    float: left; 
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.menu{
    float:left;
    padding-left: 240px;
   }
.menu li{
    float: left;
    line-height: 60px; 
    color: #fff;
    margin-right: 15px; 
    font-size: 14px; 
    text-transform:uppercase; 
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height:100%;
    background: url(../img/i.jpg) 90% 90%/auto 95% no-repeat;
    
}
.title__container{
    float: left;
    margin: 250px 0px 0px 150px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.title__container h1{
    font-size: 45px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 30px;
    font-size: 22px;
    color: #79818d
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin-top: 60px;
    margin: 60px 14px 0px 14px;
}
.menu li a{
    transition: all 0.3s;
    color: white;
    transform: scale(1);
    display: block;
    text-decoration: none;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #e88604; 
}
.menu li a:active{
   transform: scale(1.1); 
}
.title__container input{
    transition: all 0.3s;
    transform: scale(1);
}
.title__container input:hover{
    background: #344051;
    color: white;
}
.title__container input:active{
    transform: scale(1.1);
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.2s;
}
.menu li:nth-child(3){
    animation-delay: 0.4s;
}
.menu li:nth-child(4){
    animation-delay: 0.6s;
}
.menu li:nth-child(5){
    animation-delay: 0.8s;
}
.menu li:nth-child(6){
    animation-delay: 1s;
}
.menu li:nth-child(7){
    animation-delay: 1.2s;
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 150px;
    }
}
.about h2{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.about img{
    margin-bottom: 50px;
}
.about{
    font-family: Arial, sans-serif; 
    text-align: center;
    color: #2c384a;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
}
#i{
    padding-top: 10px;
}
#ii{
    display: block;
    border: 1px solid #000;
    border-radius: 50%;
    width: 20%;
    height: 35%;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: 550px;
}
/*модальное окно*/
.modal-title{
    color: black;
}
.modal-body{
    color: black;
}
.title__container1 button{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin: 40px 0px 0px 0px;
    padding: 10px 16px;
}
.title__container1 button{
    transition: all 0.3s;
    transform: scale(1);
}
.title__container1 button:hover{
    background: #344051;
    color: white;
}
.title__container1 button:active{
    transform: scale(1.1);
}
.services h2{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    font-size: 30px;
    padding-top: 150px;
    padding-bottom: 30px;
    text-align: center;
}
#iii{
    display: block;
    margin: 0 auto;
   margin-bottom: 80px;
}
#fotoser{
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
    margin-left: 120px;
    text-align: center;
}
#fotoser2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
}
#fotoser3{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
}
#fotoser4{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
}
.services {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    height: 100%;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0%20%D1%87%D1%82%D0%BE%20%D1%8F%20%D1%83%D0%BC%D0%B5%D1%8E.png) center no-repeat;
}
.services div{
    float: left;
    text-transform:uppercase; 
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.services div{
    transition: all 0.2s;
    color: #2c384a;
    display: block;    
}
.services div:nth-child(2){
    animation-delay: 0.2s;
}
.services div:nth-child(3){
    animation-delay: 0.4s;
}
.services div:nth-child(4){
    animation-delay: 0.6s;
}
.services div:nth-child(5){
    animation-delay: 0.8s;
}
.services div:nth-child(6){
    animation-delay: 1s;
}
span{
    color: #e88604;
    display: block;
    padding-bottom: 10px;
    padding-top: 50px;
}
.cases h2{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}
#iiii{
    margin-left: 640px;
}
/*красивая карусель кейса*/
#carouselExampleIndicators{
    margin-left: 230px;
    width: 70%;
    height: 70%;  
}
.cases{
    font-family: Arial, sans-serif; 
    text-align: left;
    font-size: 15px;
    line-height: 30px;
}
#t{
    margin-bottom: 30px; 
    text-align: center;
    font-family: Arial, sans-serif; 
    font-size: 15px;
    line-height: 30px;
}
#client{
    float:left;
    margin-top: 20px;
    margin-left: 230px;
    margin-right: 40px;
}
#client2{
    margin-top: 20px;
}
.title__container10 input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    margin-left: 230px;
    font-size: 13px;
    padding: 5px 16px 10px 16px;
    margin-top: 20px;
}
.title__container10 input{
    transition: all 0.3s;
    transform: scale(1);
}
.title__container10 input:hover{
    background: #344051;
    color: white;
}
.title__container10 input:active{
    transform: scale(1.1);
}
.price h2{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    margin-left: 300px;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 600;
}
.price{
    font-family: Arial, sans-serif; 
    padding-left: 250px;  
    padding-top: 30px;
    color: #2c384a;
    font-size: 25px;
    line-height: 70px;
}
select{
    width: 890px;
    height: 50px;
    color: #1c2534;
    font-family: Arial, sans-serif;
    font-size: 15px;
    background: #d1d1d1;
    
}
#p{
    margin-top: 35px;
    display: block;
}
.o{
    float: left;
}
.oo{
   padding-left: 850px;
    width: 10px;
}
.statistics h2{
   font-family: Arial, sans-serif; 
    color: #2c384a;
    font-size: 30px;
    padding-top: 175px;
    padding-bottom: 30px; 
    
}
#iiiiiii{
    display: block;
    margin: 0 auto;
   margin-bottom: 80px;
}
#fotost{
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
    margin-left: 120px;
    text-align: center;
}
#fotost2{
   text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px; 
}
#fotost3{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
}
#fotost4{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
}
.statistics{
    color: #2c384a;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0.png) center no-repeat;
}
span1{
    font-weight: 600;
    font-size: 30px;
    display: block;
    padding-bottom: 5px; 
    padding-top: 35px;
}
.reviews h2 {
    font-family: Arial, sans-serif; 
    color: #2c384a;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    
}
#iiiiiiii{
    margin-bottom: 60px;
}
.reviews{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    text-align: center;
    font-size: 17px;
}
#ii{
    display: block;
    border: 1px solid #000;
    border-radius: 50%;
    width: 20%;
    height: 35%;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 550px;
}
/*анимация отзывов*/
.kopansecegun {
  height: 220px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kopansecegun__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #989393;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #101010, 0 0 0 0 rgba(45, 43, 43, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.kopansecegun__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.kopansecegun__nav:checked:nth-of-type(1) ~ .kopansecegun__ccpisicon {
  left: -0%;
}
.kopansecegun__nav:checked:nth-of-type(2) ~ .kopansecegun__ccpisicon {
  left: -99%;
}
.kopansecegun__nav:checked:nth-of-type(3) ~ .kopansecegun__ccpisicon {
  left: -199%;
}
.kopansecegun__nav:checked:nth-of-type(4) ~ .kopansecegun__ccpisicon {
  left: -299%;
}
.kopansecegun__ccpisicon {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.kopansecegun__cegunpisicing {
  height: 120px;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.kopansecegun__image {
  font-size: 2.7rem;
  color: #2196F3;
}
.kopansecegun__simusceguns {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(27, 26, 26, 0.1);
  text-transform: uppercase;
}
.kopansecegun__omnismus {
  color: #736f6f;
  margin-bottom: 3rem;
  max-width: 415px;
}
@-webkit-keyframes check {
  50% {
  outline-color: #333;
  box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
  outline-color: #333;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
@keyframes check {
  50% {
  outline-color: #333;
  box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
  outline-color: #333;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
.contacts h2{
    font-family: Arial, sans-serif; 
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 50px;
}
#iiiiiiiii{
    margin-bottom: 30px;
}
#tttt{
    margin-bottom: 30px;
}
.contacts{
    font-family: Arial, sans-serif; 
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
    background: url(../img/%D0%A4%D0%BE%D0%BD%20%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B.png) center no-repeat;
}
#iiiiiiiiii{
    margin-bottom: 30px;
}
#fotocont{
    margin-bottom: 50px;
    float:left;
    margin-right: 90px;
    margin-left: 330px;
    text-align: center; 
}
#fotocont2{
    text-align: center;
    margin-bottom: 50px;
    float:left;
    margin-right: 115px; 
}
#fotocont3{
    text-align: center;
    margin-bottom: 50px;
    float:left;
    margin-right: 115px; 
}
#ttttt{
    margin-top: 120px;
    text-align: center;
    margin-right: 500px;
    margin-bottom: 20px;
}
.title__container3 input{
    float:left;
    width: 395px;
    height: 40px;
    background: #d2d6dc;
    color: 5d5d5e;
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 35px;
    margin-bottom: 15px;
    margin-left: 260px;
}
.title__container4 input{
    float:left;
    width: 395px;
    height: 40px;
    background: #d2d6dc;
    color: 5d5d5e;
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 15px;
}
.title__container5 textarea{
    background: #d2d6dc;
    color: 5d5d5e;
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
    padding-top: 10px;
}
.title__container2 input{
    height: 40px;
    text-align: center;
    border: 2px solid #ffffff;
    background: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
    margin: 15px 0px 15px 0px;
    padding: 10px 16px;
}
.title__container2 input{
    transition: all 0.3s;
    transform: scale(1);
}
.title__container2 input:hover{
    background: #344051;
    color: white;
}
.title__container2 input:active{
    transform: scale(1.1);
}
