.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 1s infinite linear;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 1s infinite ease-in-out;
}
.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}
nav {
    width: 100%; 
    height: 60px;
    background: #344051;
    position: fixed;
}
body{
    font-family: Arial, sans-serif; 
    background-color: antiquewhite;
}
.logo{
    color: #fff; 
    font-size: 24px; 
    line-height: 60px; 
    padding-left: 250px; 
    float: left; 
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.menu{
    float:left;
    padding-left: 350px; 
}
.menu li{
    float: left;
    line-height: 60px; 
    color: #fff;
    margin-right: 20px; 
    font-size: 14px; 
    text-transform:uppercase; 
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height:100%;
    background: url(../img/i.jpg) 90% 90%/auto 95% no-repeat;
    
}
.title__container{
    float: left;
    margin: 250px 0px 0px 150px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.title__container h1{
    font-size: 45px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 30px;
    font-size: 22px;
    color: #79818d
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin-top: 60px;
    margin: 60px 14px 0px 14px;
}
.menu li a{
    transition: all 0.3s;
    color: white;
    transform: scale(1);
    display: block;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #e88604; 
}
.menu li a:active{
   transform: scale(1.1); 
}
.title__container input{
    transition: all 0.3s;
    transform: scale(1);
}
.title__container input:hover{
    background: #344051;
    color: white;
}
.title__container input:active{
    transform: scale(1.1);
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.2s;
}
.menu li:nth-child(3){
    animation-delay: 0.4s;
}
.menu li:nth-child(4){
    animation-delay: 0.6s;
}
.menu li:nth-child(5){
    animation-delay: 0.8s;
}
.menu li:nth-child(6){
    animation-delay: 1s;
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 150px;
    }
}
.about h2{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.about img{
    margin-bottom: 50px;
}
.about{
    font-family: Arial, sans-serif; 
    text-align: center;
    color: #2c384a;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
}
#i{
    padding-top: 10px;
}
#ii{
    display: block;
    border: 1px solid #000;
    border-radius: 50%;
    width: 20%;
    height: 35%;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: 550px;
}
.title__container1 input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin: 40px 0px 0px 0px;
    padding: 10px 16px;
    
}
.title__container1 input{
    transition: all 0.3s;
    transform: scale(1);
}
.title__container1 input:hover{
    background: #344051;
    color: white;
}
.title__container1 input:active{
    transform: scale(1.1);
}
.services h2{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    font-size: 30px;
    padding-top: 150px;
    padding-bottom: 30px;
    text-align: center;
}
#iii{
   margin-bottom: 80px;
}
#fotoser{
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
    margin-left: 120px;
    text-align: center;
}
#fotoser2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
}
#fotoser3{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
}
#fotoser4{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    float:left;
    margin-right: 90px;
}
.services {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    height: 100%;
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0%20%D1%87%D1%82%D0%BE%20%D1%8F%20%D1%83%D0%BC%D0%B5%D1%8E.png) center no-repeat;
}
.services div{
    float: left;
    text-transform:uppercase; 
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.services div{
    transition: all 0.2s;
    color: #2c384a;
    display: block;    
}
.services div:nth-child(2){
    animation-delay: 0.2s;
}
.services div:nth-child(3){
    animation-delay: 0.4s;
}
.services div:nth-child(4){
    animation-delay: 0.6s;
}
span{
    color: #e88604;
    display: block;
    padding-bottom: 10px;
    padding-top: 50px;
}
.cases h2{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}
#iiii{
    margin-left: 640px;
}
#iiiii{
    margin-left: 230px;
    width: 70%;
    height: 70%;  
}
.cases{
    font-family: Arial, sans-serif; 
    text-align: left;
    font-size: 15px;
    line-height: 30px;
}
#t{
    margin-bottom: 30px; 
    text-align: center;
    font-family: Arial, sans-serif; 
    font-size: 15px;
    line-height: 30px;
}
#client{
    float:left;
    margin-top: 20px;
    margin-left: 230px;
}
#client2{
    float:left;
    margin-left: 60px;
    margin-top: 20px;
   
}
.title__container2 input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin: 20px 0px 0px 230px;
    padding: 10px 16px;
}
.title__container2 input{
    transition: all 0.3s;
    transform: scale(1);
}
.title__container2 input:hover{
    background: #344051;
    color: white;
}
.title__container2 input:active{
    transform: scale(1.1);
}
.price h2{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    padding-left: 300px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: 600;
}
.price{
    font-family: Arial, sans-serif; 
    padding-left: 250px;  
    padding-top: 30px;
    color: #2c384a;
    font-size: 25px;
    line-height: 70px;
}
select{
    width: 890px;
    height: 50px;
    color: #1c2534;
    font-family: Arial, sans-serif;
    font-size: 15px;
    background: #d1d1d1;
    
}
#p{
    margin-top: 35px;
}
/*
.statistics h2{
   font-family: Arial, sans-serif; 
    color: #2c384a;
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 40px; 
}
.statistics li{
    float: left;
    margin-right: 90px;
}
.statistics{
    color: #2c384a;
    padding-left: 100px;
    padding-top: 495px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    background: url(../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0.png) center no-repeat;
}
span1{
    font-size: 30px;
    display: block;
    padding-bottom: 5px;    
}

.reviews h2 {
    font-family: Arial, sans-serif; 
    color: #2c384a;
    text-align: center;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 160px;
    
}
.reviews{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    text-align: center;
    font-size: 15px;
}
.contacts h2{
    font-family: Arial, sans-serif; 
    color: #2c384a;
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 140px;
    
}
.contacts li{
    float: left;
    margin-right: 100px;
}
.contacts{
    font-family: Arial, sans-serif; 
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding-left: 300px;
    padding-top: 195px;
    background: url(../img/%D0%A4%D0%BE%D0%BD%20%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B.png) center no-repeat;
}
.title__container2 input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #676769;
    font-size: 13px;
    margin: 40px 0px 0px 0px;
    padding: 10px 16px;
}
*/
